*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}


.divelement{
width: 300px;
height: 300px;
background-color: blueviolet;
border-radius: 20px;
margin-left: 100px;
border: brown 2px;
}
/* using px */
 /* #test{
    width: 200px;
    height: 200px;
    background: #d21515;
    margin-left: 100px;

 } */
 /* using % */
 /* #test{
    width: 50%;
    height: 20%;
    background: #d21515;
    margin-left: 10%;

 } */

 /* using vh and vw 
 look like same as %
 not same here is why 
 % took value from parent 
 and vh and vw took vlaue from screen always
 */ 
/* #test{
    width: 10vw;
    height: 20vh;
    background-color: red;
    margin-left: 10vh;

} */
/* rule of css
1. jaha bhi ek se jaaada elements dikhe wahah div he 
2.jaha rectangular shape dikhe waha bhi div he  
3. target id with # in css and target class with .
*/
    /* Units */
/*
  px  % vw vh em rem 
 1.px 
 1px =1 px of screen 


 */
/* width and height  */
 /* #test{
    font-size: 16px;
    width: 10vw;
    height: 20vh;
    background-color: red;
    margin-left: 10vh;
} */
#test{
    font-size: 16px;
    width: 20rem;
    height: 20rem;
    background-color: red;
    margin-left: 10vh;
}
.fontdash{
    font-family: Montserrat;
    font-weight: 100;
    /* text-transform:uppercase ; 
    */
    font-size: 2vw;
}
p{
   /* line-height:25px;  */
   line-height: 1;
   text-align: justify;
   

}
.box{
    width: 300px;
    height: 300px;
    background-color: aquamarine;
    /* imp */
    /* padding lagti he box ke andar */
    padding: 50px;
    /* Margin lagti he box ke bahar */
    margin :50px
}
.box2{
    width: 300px;
    height: 300px;
    background-color:rosybrown;
    margin: 100px;
    border: 3px solid black;
    border-radius: 10px;

}
/* display
**Block element nature is pure block me me hi aunga koi aur nahi still there is space left no other element is 
allowed
1.simple rule mere aage ya piche koi bhi aa sakta he mere na left me ya right me 
**Inline is like if space is left two element can fit in there as per space consumed  
1.inline element not allowed increase height and width 
how i increase ?
make it inline-block
1.we can allow some element in our side but we can also increase and decrease height and width 


*/
/* p{
    display: inline;
    width: 100px;
    height: 100px;
    background-color: red;
} */
/* look here we can't increase width and height */

a{
    /* bydefault its inline */
    display: block;
}

/* Positions */
/* we are looking website from top view always 
if somthing postion absolute this means it pick up from that place 
now it can move any where and it can shadow anything 
we have three element now frist become absolute it raise on layer 1 and so on 

*/
/* #car1{
    width: 100px;
    height: 140px;
    background-color: red;
}
#car2{
    position: absolute;
    top: 0;
    width: 80px;
    height: 120px;
    background-color: rgb(81, 255, 0);
}
#car3{
    width: 105px;
    height: 90px;
    background-color: rgb(38, 0, 255);
}


#box{
    width: 300px;
    height: 300px;
    background-color: red;
}
#cube{
    position: relative;
    width: 100px;
    height: 100px;
    background-color: yellow;
} */

/* FlexBox
 1. flexbox children pe nahi parenet pe lagti he and flexbox ka kaam children ko agal bagal lana he 
 2. yaha pe 2 axis active hote he x-axis *(main ) y-axis (cross)
    element ki direction hi aapko main axis ke bare me bataiyegi 
    main axis may be left to right or right to left hogi and y-axis top to bottom hogi 
 3.**main axis pe work karne ke liye use hota he justify content 


*/
/* #box{
    display: flex;
    justify-content: center; 
    width: 300px;
    height: 300px;
    background-color: red;
}
#child1{
    width: 50px;
    height: 50px;
    background-color: rgb(241, 218, 7);
}
#child2{
    width: 50px;
    height: 50px;
    background-color: rgb(4, 255, 0);
}
#child3{
    width: 50px;
    height: 50px;
    background-color: rgb(30, 0, 255);
} */
/* 
har element ke paas ek possibility hoti hai ki wo elements chahe to inactive do after and before 
naam ki properties ko activate kar sakta he 

har tah ke paas before and after hota hi he 
*/
/* p{
    width: fit-content;
    position: relative;
} */
/* P::before{ */
    /* this key activate your code */
    /* content: '';
    top: 50%;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: red;


}
P::after{
    content: '<';
}
P::first-line{
    font-style: italic;
}
P::first-letter{
    font-size: larger;
}
P::selection{
    color: green;
}

h5:hover{
    color: blueviolet;

}
button:active{
    color: red;
}
input:focus{
    background-color: black;
} */

/* #nav{
    
    display: grid;
    grid-template-columns: 50% 10% 10% 10% 10% 10%; 
    align-items: center;
    height: 100px;
    justify-items: center;
     
}
#nav h2{
    justify-self: start;
} */
/* grid 
inside the itms or inside block you want to center the things then you need to make 
align-items :center
justify-items :center


2. if you want o work inside complete block and want things 
align-content 
justify-content
*/

#box{
    display: flex;
    justify-content: center; 
    width: 300px;
    height: 300px;
    background-color: red;
}
#child1{
    width: 50px;
    height: 50px;
    background-color: rgb(241, 218, 7);
}
#child2{
    width: 50px;
    height: 50px;
    background-color: rgb(4, 255, 0);
}
#child3{
    width: 50px;
    height: 50px;
    background-color: rgb(30, 0, 255);
}